<mat-toolbar color="primary">
  <span>My Media App</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="flex-child" mode="side" opened *ngIf="authService.isAuthenticated()">
    <mat-nav-list>
      <mat-list-item routerLink="/movies" routerLinkActive="active-link">
        <h3>Movies</h3>
      </mat-list-item>
      <mat-list-item routerLink="/actors" routerLinkActive="active-link">
        <h3>Actors</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="flex-child">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
