.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

mat-card {
  width: 400px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-title {
  margin: 20px;
}
